@import "tailwindcss";
@theme {
  /* BACKGROUNDS ET BORDURES */
  --color-theme-base: var(--color-bg);
  --color-theme-card: var(--color-card);
  --color-theme-border: var(--color-border);

  /* TEXTES */
  --color-theme-main: var(--color-text-main);
  --color-theme-muted: var(--color-text-muted);

  /* BOUTONS */
  --color-theme-btn: var(--color-btn-bg);
  --color-theme-btn-txt: var(--color-btn-text);
}
@layer base {
  /* Thème par défaut (White) */
  :root {
    --color-bg: #F9FAFB;
    --color-card: #FFFFFF;
    --color-text-main: #111827;
    --color-text-muted: #6B7280;
    --color-btn-bg: #bf0d04;
    --color-btn-text: #FFFFFF;
    --color-border: #5c0a06;
  }

  /* Thème Dark */
  [data-theme='dark'] {
    --color-bg: #99a2a8; /* Bleu marine très profond (presque noir) */
  --color-card: #1B263B; /* Bleu marine profond avec teinte légèrement plus claire */
  --color-text-main: #ffffff; /* Blanc bleuté doux, très lisible */
  --color-text-muted: #acb7c6; /* Gris-bleu pour les textes secondaires */
  --color-btn-bg: #000064; /* Cyan vif, accent moderne tiré des verts OKLCH */
  --color-btn-text: #FFFFFF; /* Blanc pur pour le contraste */
  --color-border: #000064; 
  }

  /* Thème Yellow */
[data-theme='yellow'] {
  --color-bg: #fafafa; /* Gris très clair */
  --color-card: #ffffff; /* Blanc pur */
  --color-text-main: #222222; /* Noir doux */
  --color-text-muted: #000000; /* Gris */
  --color-btn-bg: #f90303; /* Rouge corail vif */
  --color-btn-text: #ffffff; /* Blanc */
  --color-border: #f90303; /* Corail */
}
}


@import "./styles/themes.css";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}